body {
	/*background-color: blue;*/
	font-family: arial,sans-serif;
	
}
ul {
	list-style: none;
	
}

a {
	text-decoration: none;
	color: #000;
	opacity: .75;
	padding: 10px;
}

a:hover {
	text-decoration: underline;
	opacity: .90;
}


#top_ul {
	float: right;
}
#top_bar li {
	display: inline-flex;
vertical-align: middle;
}

#top_ul img {
	width: 25px;
	height: 25px;
}

#acount {
	color: white;
	background-color: rgb(2,136,209);
	padding: 15px;
	border-radius: 100px;	
}


#search {
	  clear: both;	
}

#set {

}